<div>

    <h2 translate="myreservationappApp.program.home.title">Program</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveProgramModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="myreservationappApp.program.home.createLabel">Create a new Program</span>
    </button>
    <div class="modal fade" id="saveProgramModal" tabindex="-1" role="dialog" aria-labelledby="myProgramLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myProgramLabel" translate="myreservationappApp.program.home.createOrEditLabel">Create or edit a Program</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="program.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="myreservationappApp.program.mondayStart">MondayStart</label>
                            <input type="text" class="form-control" name="mondayStart"
                                   ng-model="program.mondayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.mondayEnd">MondayEnd</label>
                            <input type="text" class="form-control" name="mondayEnd"
                                   ng-model="program.mondayEnd">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.tuesdayStart">TuesdayStart</label>
                            <input type="text" class="form-control" name="tuesdayStart"
                                   ng-model="program.tuesdayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.tuesdayEnd">TuesdayEnd</label>
                            <input type="text" class="form-control" name="tuesdayEnd"
                                   ng-model="program.tuesdayEnd">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.wednesdayStart">WednesdayStart</label>
                            <input type="text" class="form-control" name="wednesdayStart"
                                   ng-model="program.wednesdayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.wednesdayEnd">WednesdayEnd</label>
                            <input type="text" class="form-control" name="wednesdayEnd"
                                   ng-model="program.wednesdayEnd">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.thursdayStart">ThursdayStart</label>
                            <input type="text" class="form-control" name="thursdayStart"
                                   ng-model="program.thursdayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.thursdayEnd">ThursdayEnd</label>
                            <input type="text" class="form-control" name="thursdayEnd"
                                   ng-model="program.thursdayEnd">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.fridayStart">FridayStart</label>
                            <input type="text" class="form-control" name="fridayStart"
                                   ng-model="program.fridayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.fridayEnd">FridayEnd</label>
                            <input type="text" class="form-control" name="fridayEnd"
                                   ng-model="program.fridayEnd">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.saturdayStart">SaturdayStart</label>
                            <input type="text" class="form-control" name="saturdayStart"
                                   ng-model="program.saturdayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.saturdayEnd">SaturdayEnd</label>
                            <input type="text" class="form-control" name="saturdayEnd"
                                   ng-model="program.saturdayEnd">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.sundayStart">SundayStart</label>
                            <input type="text" class="form-control" name="sundayStart"
                                   ng-model="program.sundayStart">

                        </div>
                        <div class="form-group">
                            <label translate="myreservationappApp.program.sundayEnd">SundayEnd</label>
                            <input type="text" class="form-control" name="sundayEnd"
                                   ng-model="program.sundayEnd">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteProgramConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(program.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="myreservationappApp.program.delete.question" translate-values="{id: '{{program.id}}'}">Are you sure you want to delete this Program?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="myreservationappApp.program.mondayStart">MondayStart</th>
                    <th translate="myreservationappApp.program.mondayEnd">MondayEnd</th>
                    <th translate="myreservationappApp.program.tuesdayStart">TuesdayStart</th>
                    <th translate="myreservationappApp.program.tuesdayEnd">TuesdayEnd</th>
                    <th translate="myreservationappApp.program.wednesdayStart">WednesdayStart</th>
                    <th translate="myreservationappApp.program.wednesdayEnd">WednesdayEnd</th>
                    <th translate="myreservationappApp.program.thursdayStart">ThursdayStart</th>
                    <th translate="myreservationappApp.program.thursdayEnd">ThursdayEnd</th>
                    <th translate="myreservationappApp.program.fridayStart">FridayStart</th>
                    <th translate="myreservationappApp.program.fridayEnd">FridayEnd</th>
                    <th translate="myreservationappApp.program.saturdayStart">SaturdayStart</th>
                    <th translate="myreservationappApp.program.saturdayEnd">SaturdayEnd</th>
                    <th translate="myreservationappApp.program.sundayStart">SundayStart</th>
                    <th translate="myreservationappApp.program.sundayEnd">SundayEnd</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="program in programs">
                    <td><a ui-sref="programDetail({id:program.id})">{{program.id}}</a></td>
                    <td>{{program.mondayStart}}</td>
                    <td>{{program.mondayEnd}}</td>
                    <td>{{program.tuesdayStart}}</td>
                    <td>{{program.tuesdayEnd}}</td>
                    <td>{{program.wednesdayStart}}</td>
                    <td>{{program.wednesdayEnd}}</td>
                    <td>{{program.thursdayStart}}</td>
                    <td>{{program.thursdayEnd}}</td>
                    <td>{{program.fridayStart}}</td>
                    <td>{{program.fridayEnd}}</td>
                    <td>{{program.saturdayStart}}</td>
                    <td>{{program.saturdayEnd}}</td>
                    <td>{{program.sundayStart}}</td>
                    <td>{{program.sundayEnd}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="programDetail({id:program.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(program.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(program.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
