<div ng-cloak>

    <!--Basic restaurant info section-->

    <div>



        <h2 translate="profile.home.title">Profile</h2>

        <h3 ng-show="restaurant.id" translate="profile.restaurant.title">Basic Info</h3>

        <button ng-hide="restaurant.id" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveRestaurantModal" ng-click="resetEditFormRestaurant()">
            <span class="glyphicon glyphicon-flash"></span> <span translate="profile.restaurant.create_button">Create your basic info</span>
        </button>

        <div class="modal fade" id="saveRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="myRestaurantLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="editFormRestaurant" role="form" novalidate ng-submit="createRestaurant()" show-validation>

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clearRestaurant()">&times;</button>
                            <h4 class="modal-title" id="myRestaurantLabel" translate="profile.restaurant.create_or_edit">Create or edit a your basic info</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">

                                <label translate="profile.restaurant.name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="{{'profile.restaurant.name' | translate}}"
                                       required ng-minlength="2" ng-maxlength="30" ng-model="restaurant.name">

                                <div ng-show="editFormRestaurant.name.$invalid">
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.name.$error.required" translate="profile.error_messages.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.name.$error.minlength" translate="profile.error_messages.minimum_length_2" translate-value-min="2">
                                        This field is required to be at least 2 characters.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.name.$error.maxlength" translate="profile.error_messages.maximum_length_30" translate-value-max="30">
                                        This field cannot be longer than 30 characters.
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">

                                <ui-select ng-model="restaurant.type" required name="type" theme="bootstrap" style="width:300px;">
                                    <ui-select-match placeholder="Select or search a type in the list...">{{restaurant.type}}</ui-select-match>
                                    <ui-select-choices repeat="type in restaurant_types">
                                        <div>{{type}}</div>
                                    </ui-select-choices>
                                </ui-select>

                                <div ng-show="editFormRestaurant.type.$error.required">
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.type.$error.required" translate="profile.error_messages.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>


                            <div class="form-group">

                                <label translate="profile.restaurant.description">Description</label>
                                <textarea rows="4" class="form-control" name="description"
                                          ng-model="restaurant.description" ng-maxlength="1000" placeholder="{{'profile.restaurant.description' | translate}}"></textarea>

                                <div ng-show="editFormRestaurant.description.$invalid">
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.description.$error.maxlength" translate="profile.error_messages.maximum_length_1000" translate-value-max="1000">
                                        This field cannot be longer than 1000 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">


                                <label translate="profile.restaurant.phone">Phone</label>
                                <input type="text" name="phone" class="form-control" placeholder="{{'profile.restaurant.phone' | translate}}"
                                       ng-model="restaurant.phone" ng-pattern="/^([0-9]{10})$/">


                                <div ng-show="editFormRestaurant.phone.$invalid">
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.phone.$error.pattern" translate="profile.error_messages.phone">
                                        Phone number has to have 10 digits.
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">

                                <label translate="profile.restaurant.email">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="{{'profile.restaurant.email' | translate}}"
                                       ng-model="restaurant.email" ng-minlength=5 ng-maxlength=100>


                                <div ng-show="editFormRestaurant.email.$dirty && editFormRestaurant.email.$invalid">
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.email.$error.required" translate="global.messages.validate.email.required">
                                        Your e-mail is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.email.$error.email" translate="global.messages.validate.email.invalid">
                                        Your e-mail is invalid.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.email.$error.minlength" translate="global.messages.validate.email.minlength">
                                        Your e-mail is required to be at least 5 characters
                                    </p>
                                    <p class="help-block"
                                       ng-show="editFormRestaurant.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                                        Your e-mail cannot be longer than 100 characters
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearRestaurant()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="editFormRestaurant.$invalid" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <table class="table table-striped">
                <tr ng-show="restaurant.name">
                    <th translate="profile.restaurant.name">Name:</th>
                    <th>{{restaurant.name}}</th>
                </tr>
                <tr ng-show="restaurant.type">
                    <th translate="profile.restaurant.type">Type:</th>
                    <th>{{restaurant.type}}</th>
                </tr>
                <tr ng-show="restaurant.phone">
                    <th translate="profile.restaurant.phone">Phone:</th>
                    <th>{{restaurant.phone}}</th>
                </tr>
                <tr ng-show="restaurant.email">
                    <th translate="profile.restaurant.email">Email:</th>
                    <th>{{restaurant.email}}</th>
                </tr>
                <tr ng-show="restaurant.description">
                    <th translate="profile.restaurant.description">Description:</th>
                    <th>{{restaurant.description}}</th>
                </tr>
            </table>
            <button type="submit" ng-show="restaurant.name"
                    ng-click="getRestaurant()"
                    class="btn btn-primary" data-toggle="modal" data-target="#saveRestaurantModal">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
            </button>

        </div>


    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------- -->
    <!--Location section-->

    <div>

        <h3 translate="profile.location.title">Location</h3>

        <button ng-hide="location.city" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#saveLocationModal" ng-click="resetEditFormLocation()">
            <span class="glyphicon glyphicon-flash"></span> <span translate="profile.location.create_button">Save your location</span>
        </button>
        <div class="modal fade" id="saveLocationModal" tabindex="-1" role="dialog" aria-labelledby="myLocationLabel"
             aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="editFormLocation" role="form" novalidate ng-submit="createLocation()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clearLocation()">&times;</button>
                            <h4 class="modal-title" id="myLocationLabel" translate="profile.location.create_or_edit">Save or edit a Location</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label translate="profile.location.city">City</label>
                                <input type="text" class="form-control" name="city"
                                       ng-model="location.city" required placeholder="{{'profile.location.city' | translate}}">

                                <div ng-show="editFormLocation.city.$error.required">
                                    <p class="help-block"
                                       ng-show="editFormLocation.city.$error.required" translate="profile.error_messages.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label translate="profile.location.street">Street</label>
                                <input type="text" class="form-control" name="street" required
                                       ng-model="location.street" placeholder="{{'profile.location.street' | translate}}">

                                <div ng-show="editFormLocation.street.$error.required">
                                    <p class="help-block"
                                       ng-show="editFormLocation.street.$error.required" translate="profile.error_messages.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label translate="profile.location.number">Number</label>
                                <input type="text" class="form-control" name="number" required
                                       ng-model="location.number" placeholder="{{'profile.location.number' | translate}}">

                                <div ng-show="editFormLocation.number.$error.required">
                                    <p class="help-block"
                                       ng-show="editFormLocation.number.$error.required" translate="profile.error_messages.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label translate="profile.location.latitude">Latitude</label>
                                <input type="text" class="form-control" name="latitude"
                                       ng-model="location.latitude" placeholder="{{'profile.location.latitude' | translate}}">
                            </div>
                            <div class="form-group">
                                <label translate="profile.location.longitude">Longitude</label>
                                <input type="text" class="form-control" name="longitude"
                                       ng-model="location.longitude" placeholder="{{'profile.location.longitude' | translate}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearLocation()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="editFormLocation.$invalid" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr ng-show="location.city">
                    <th translate="profile.location.city">City</th>
                    <th>{{location.city}}</th>
                </tr>
                <tr ng-show="location.street">
                    <th translate="profile.location.street">Street</th>
                    <th>{{location.street}}</th>
                </tr>
                <tr ng-show="location.number">
                    <th translate="profile.location.number">Number</th>
                    <th>{{location.number}}</th>
                </tr>
            </table>
            <button type="submit" ng-show="location.city"
                    ng-click="getLocation()"
                    class="btn btn-primary" data-toggle="modal" data-target="#saveLocationModal">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
            </button>
        </div>

        <div ng-if="map.center">
            <ui-gmap-google-map center="map.center" zoom="map.zoom">
                <ui-gmap-marker coords="marker.coords" idKey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

    </div>

    <!----------------------------------------------------------------------------------------------------------------------->
    <!--Program section-->

    <div>

        <h3 translate="profile.program.title">Program</h3>

        <button ng-hide="program[0].status" ng-hide="program.id" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveProgramModal" ng-click="resetEditFormProgram()">
            <span class="glyphicon glyphicon-flash"></span> <span translate="profile.program.create_button">Save your program</span>
        </button>

        <div class="modal fade" id="updateProgramModal" tabindex="-1" role="dialog" aria-labelledby="myProgramLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" name="editFormUpdateProgram" novalidate ng-submit="updateProgram()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clearProgram()">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">

                                <tr>
                                    <th>{{update_day.day}}</th>
                                    <th>
                                        <ui-select ng-model="update_day.status" theme="bootstrap" style="width:100px;">
                                            <ui-select-match placeholder="Select">{{update_day.status}}</ui-select-match>
                                            <ui-select-choices repeat="option in program_status_options">
                                                <div>{{option}}</div>
                                            </ui-select-choices>
                                        </ui-select>

                                    <th ng-show="update_day.status === 'OPEN'">
                                        <input type="time"  ng-model="update_day.start_hour"
                                               placeholder="HH:mm" ng-required="update_day.status === 'OPEN' || update_day.status == null"/>
                                        <input type="time"  ng-model="update_day.end_hour"
                                               placeholder="HH:mm" ng-required="update_day.status === 'OPEN'" />
                                    </th>

                                    <th ng-hide="update_day.status === 'OPEN'">
                                        <label>CLOSED</label>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearUpdateProgram()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="editFormUpdateProgram.$invalid" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="saveProgramModal" tabindex="-1" role="dialog" aria-labelledby="myProgramLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="editFormProgram" role="form" novalidate ng-submit="createProgram()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clearProgram()">&times;</button>
                            <h4 class="modal-title" id="myProgramLabel" translate="profile.program.create_or_edit">Save or edit your program</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <table class="table table-striped">

                                    <tr ng-repeat="current_day in week">
                                        <th>{{current_day.day}}</th>
                                        <th>
                                            <ui-select ng-model="program[current_day.nr].status" theme="bootstrap" style="width:100px;">
                                                <ui-select-match placeholder="Select">{{program[current_day.nr].status}}</ui-select-match>
                                                <ui-select-choices repeat="option in program_status_options">
                                                    <div>{{option}}</div>
                                                </ui-select-choices>
                                            </ui-select>

                                        <th ng-show="program[current_day.nr].status === 'OPEN'">
                                            <input type="time"  ng-model="current_day.start_hour"
                                                   placeholder="HH:mm" ng-required="program[current_day.nr].status === 'OPEN' || program[current_day.nr].status == null"/>
                                            <input type="time"  ng-model="current_day.end_hour"
                                                   placeholder="HH:mm" ng-required="program[current_day.nr].status === 'OPEN'" />
                                        </th>

                                        <th ng-hide="program[current_day.nr].status === 'OPEN'">
                                            <label>CLOSED</label>
                                        </th>
                                    </tr>
                                </table>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearProgram()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="editFormProgram.$invalid" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped" ng-show="program[0].status">
                <thead>
                <tr>
                    <th>Day</th>
                    <th>Start-End</th>
                </tr>
                </thead>
                <tr ng-repeat="current_day in week">
                    <th><label>{{current_day.day}}</label></th>
                    <th>
                        <label>{{program[current_day.nr].status === 'CLOSED'? 'CLOSED' : program[current_day.nr].start_hour + ' - ' + program[current_day.nr].end_hour}}</label>
                    </th>
                    <th>
                        <button type="submit" ng-show="program[0].status"
                                ng-click="beforeUpdateProgram(program[current_day.nr])"
                                class="btn btn-primary" data-toggle="modal" data-target="#updateProgramModal">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                    </th>
                </tr>
            </table>

        </div>

    </div>

    <!----------------------------------------------------------------------------------------------------------------------->
    <!-- Restaurant tables section -->

    <div>

        <h2 translate="profile.restaurant_tables.title">Restaurant_tables</h2>

        <button ng-hide="restaurant_tables.id" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveRestaurant_tablesModal" ng-click="clearRestaurant_tables()">
            <span class="glyphicon glyphicon-flash"></span> <span translate="profile.restaurant_tables.create_button">Save your tables</span>
        </button>
        <div class="modal fade" id="saveRestaurant_tablesModal" tabindex="-1" role="dialog" aria-labelledby="myRestaurant_tablesLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="editForm" role="form" novalidate ng-submit="createRestaurant_tables()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="createRestaurant_tables()">&times;</button>
                            <h4 class="modal-title" id="myRestaurant_tablesLabel" translate="profile.restaurant_tables.create_or_edit">Save or edit your tables</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label translate="profile.restaurant_tables.two_persons_table">Tables for 2 persons</label>
                                <input type="number" class="form-control" name="two_persons_table" placeholder="{{'profile.restaurant_tables.two_persons_table' | translate}}"
                                       ng-model="restaurant_tables.two_persons_table">

                            </div>
                            <div class="form-group">
                                <label translate="profile.restaurant_tables.four_persons_table">Tables for 4 persons</label>
                                <input type="number" class="form-control" name="four_persons_table" placeholder="{{'profile.restaurant_tables.four_persons_table' | translate}}"
                                       ng-model="restaurant_tables.four_persons_table">

                            </div>
                            <div class="form-group">
                                <label translate="profile.restaurant_tables.six_persons_table">Tables for 6 persons</label>
                                <input type="number" class="form-control" name="six_persons_table" placeholder="{{'profile.restaurant_tables.six_persons_table' | translate}}"
                                       ng-model="restaurant_tables.six_persons_table">

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearRestaurant_tables()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr ng-show="restaurant_tables.two_persons_table">
                    <th translate="profile.restaurant_tables.two_persons_table">Tables for 2 persons</th>
                    <th>{{restaurant_tables.two_persons_table}}</th>
                </tr>
                <tr ng-show="restaurant_tables.four_persons_table">
                    <th translate="profile.restaurant_tables.four_persons_table">Tables for 4 persons</th>
                    <th>{{restaurant_tables.four_persons_table}}</th>
                </tr>
                <tr ng-show="restaurant_tables.six_persons_table">
                    <th translate="profile.restaurant_tables.six_persons_table">Tables for 6 persons</th>
                    <th>{{restaurant_tables.six_persons_table}}</th>
                </tr>
            </table>
        </div>

        <button type="submit" ng-show="restaurant_tables.id"
                ng-click="getRestaurant_tables()"
                class="btn btn-primary" data-toggle="modal" data-target="#saveRestaurant_tablesModal">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
        </button>

    </div>



</div>
